<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="./css/style.css")
  body
    if (user)
      div(data-user!=user style="display:none;")
    //else
      //- div(data-user="" style="display:none;")
    #app
    script(src="./js/bundle.js")